*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#f0f0f0;
$mainGrey:#ececec;
$mainTransition:all 0.3s linear;
body{
  font-family: 'Lato', sans-serif;
  background:$mainWhite;
  color: $mainBlack;

}